/* 
GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background: #141e30;  /* fallback for old browsers */
    background: linear-gradient(to right, #243B55, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     /* CSS Smooth Scroll */
     
    
}
html{
    font-size: 22px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
    
    color: #555;
}
ul, nav{
    list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
	opacity: 0.9;
}

a:hover{
    opacity: 1;
    cursor: pointer;
}
a.btn{
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196f3;
    font-weight: 800;
    text-align: center;
}
/* ---------------------------------- */

/*Header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px 100px 15px;
    background-color: #01000285;
    font-family: 'Dosis', sans-serif;
    position: fixed;

}
header h2{
    font-family: 'Quicksand', sans-serif;
}
header nav {
    display: flex;
   
}
header nav li {
    margin: 0 15px;
} 
header nav li:first-child{
    margin-left:0; 
}
header nav li:last-child{
    margin-right: 0;
}

/* links header */

header a.resume{
    font-size: 1rem;
    padding: .4rem 1rem;
    border: 2px #6FFFE9 solid;
    border-radius: 5%;
    background-color: #3A506B;
}
/*  */


@media(max-width: 1000px){
    header {
        padding: 20px 50px;
        width: 100%;
    }
}
@media(max-width:568px){
    header{
        text-size-adjust: auto;
        flex-direction: column;
        font-size: 15px;
        width: 100%;
    }
    header h2{
        margin-bottom: 15px;
    }
    header a.resume{
        padding: 2px 10px;
        font-size: 11px;

    }
}






/* ------------------------- */
  
 /* Sections General Style */

 section{
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 125px 100px;
    min-height: 100vh;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

/* /.Header */
/* Hero */
#hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: flex-start;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Gentium Basic', serif;
    
}

#hero h1 {
    font-size:  60px;
    margin-bottom: 15px;
}

#hero a.btn {
    padding: 20px 46px;
}
@media (max-width: 800px){
    #hero {
        min-height: 600px;
        padding: 151px 30px;
    }
    .intro-lead{
        margin-top: 69px;
    }
    .intro{
        font-family: 'Gentium Basic', serif;
        font-weight: 300;
        margin-bottom: 8px;
    }
    #hero h1 {
        font-size: 48px;
    }
    #hero h3{
        font-size: 24px;
    }
    #hero a.btn{
        padding:15px 40px;
    }
}

.intro{
   
    max-width: 883px;
    height: 100px;
    margin-top: 8px;

}

.intro-lead{
    max-width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
   }

.txt-type{
    color: rgb(126, 212, 212);
    
}

.lead{
    font-size: 27px;
    opacity: 0.7;
}

/* About section */

#about{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

 
#me--picture {

  
  
    height: 368px;
    width: 368px;
    
    background-size: 100%;
    
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 3px;
      
      background-image: linear-gradient(to top, rgb(217 222 28/ 37%), rgb(126 212 212 / 30%)), url('/img/0.jpeg');

}
  
   #me--picture:hover {
    
    background-image:
    linear-gradient(to top, rgba(45, 230, 190, 0), rgba(15, 177, 150, 0)),
    url('/img/0.jpeg'); 
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
    
  }



  .aboutheader{
    font-size: 32px;
    margin: 10px 0px 40px;
    justify-content: flex-start;
    color: rgb(126, 212, 212);
    display: flex;
    flex-wrap: wrap;
    
  }


  .aboutme--info{
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 540px;
    margin-right: 20px;

    
}

.aboutme--info p{
    text-align: left;
   
    
   
    
  }

  #me--picture {
    flex: 1;
    justify-content: flex-end;
    max-width: 368px;
}

.break{
    flex-basis: 100%;
    height: 0;
  }


  .about--wraper{
    /* display: flex; */
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
    background-color: #00000000;
    /* width: 1153px; */
    height: auto;
    flex-wrap: wrap;
   
 }


 .combine{
    display: flex;
}

.about__skills{

    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
  }

  .skills{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: rgb(136, 146, 176);
    text-align: left;
  }

  .skills::after{
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
  }

  @media (max-width: 1000px){
      
 #me--picture{
        height: 13rem;
        width: 13rem;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 40px;
        max-width: 368px;
    }

    #about{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .aboutheader{
        margin-top: 40px
    }

    .combine{
        
        display: flow-root;
    }

    .about__skills{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .aboutme--info{
        width: auto;
    }

  
    }

    @media (max-width:568px){
        #me--picture{
            height: 11rem;
            width: 11rem;
        
        }
    }
  

 